{% extends "survey/base.html" %}
{% block title %}Odaberite sudionika{% endblock %}
{% block content %}
  <div class="card">
    <h1>Odaberite sebe</h1>
    <p>Kliknite na svoje ime kako biste otvorili svoj kalendar upitnika.</p>
    <ul class="people-list">
      {% for person in people %}
        <li><a href="{% url 'calendar' person.name %}">
          <span class="person-name">{{ person.name }}</span>
          {% if person.caught_up %}<span class="caught-up" title="Sve ispunjeno">&#10004;</span>
          {% elif person.behind %}<span class="behind" title="Nedostaje upitnik">&#9650;</span>{% endif %}
        </a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
